*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin: auto;
    align-items: center;
}

input{
    width: 250px;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    width: 100px;
    padding: 1rem;
    margin-bottom: 20px;
}
table,th,td{
    border: 1px solid black;
   
}
td{
    text-align: center
}
table{
    width: 80%;
}