*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

body{
    max-width: 500px;
    margin: auto;
    min-height: 100vh;

}
input{
    width: 300px;
}